.page {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
}

.title {
  margin: 0;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 125%;
  color: #363738;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.lead {
  position: relative;
}

.lead::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 42%;
  background-color: #0B7572;
  right: 0;
  top: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .lead::after {
    width: 23%;
  }
}

@media screen and (max-width: 425px) {
  .lead::after {
    width: 100%;
  }
}

.lead__container {
  display: grid;
  grid-template-columns: minmax(min-content, 525px) 1fr;
  gap: 45px;
  padding-top: 180px;
  padding-bottom: 169px;
  padding-left: 39px;
  padding-right: 39px;
}

@media screen and (max-width: 1024px) {
  .lead__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 56px;
    padding-top: 80px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 425px) {
  .lead__container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 75px;
    padding-bottom: 181px;
    gap: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__content {
    max-width: 76%;
  }
}

@media screen and (max-width: 425px) {
  .lead__content {
    max-width: 100%;
  }
}


.lead__title {
  margin-bottom: 40px;
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 28px;
    line-height: 125%;
    color: white;
    margin-bottom: 32px;
  }
}

.lead__text {
  margin: 0 0 40px;
  padding-top: 10px;
}

@media screen and (max-width: 1024px) {
  .lead__text {
    margin-bottom: 61px;
  }
}

@media screen and (max-width: 425px) {
  .lead__text {
    font-size: 15px;
    color: white;
    margin-bottom: 32px;
  }
}

.lead__link {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #363738;
  text-decoration: none;
  position: relative;
}


@media screen and (max-width: 425px) {
  .lead__link {
    color: white;
  }
}

.lead__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: #FFCE50;
}

.lead__image {
  width: 100%;
  min-width: 465px;
  border-radius: 20px 0 0 20px;
  padding-right: 35px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    min-width: 0;
    max-height: 314px;
    object-fit: cover;
    border-radius: 20px 20px 0 20px;
    padding-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    border-radius: 20px;
  }
}

.services {
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .services {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .services {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 64px;
  }
}

.services__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 80px;
  gap: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  transform: translateY(-106px);
  margin-bottom: -106px;
}

@media screen and (max-width: 1024px) {
  .services__list {
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
    transform: translateY(0);
    margin-bottom: 0;
    padding: 40px 0;
    gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .services__list {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 24px 32px;
    gap: 24px;
    transform: translateY(-125px);
    margin-bottom: -125px;
  }
}

.services__item {
  max-width: 228px;
  display: grid;
  grid-template-areas: "image"
    "title"
    "text";
}

@media screen and (max-width: 1024px) {
  .services__item {
    max-width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    padding: 32px;
    grid-template-areas: "image title"
      "image text";
    align-items: center;
    justify-content: start;
    column-gap: 32px;
  }
}

@media screen and (max-width: 425px) {
  .services__item {
    max-width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    grid-template-areas: "image"
      "title"
      "text";
    column-gap: 0;
  }
}

.services__line {
  width: 1px;
  background-color: #D7D7DD;
}

@media screen and (max-width: 1024px) {
  .services__line {
    display: none;
  }
}

.services__item-img {
  grid-area: image;
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .services__item-img {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 425px) {
  .services__item-img {
    width: 68px;
    margin-bottom: 16px;
  }
}

.services__item-title {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  margin: 0 0 16px;
  grid-area: title;
}

@media screen and (max-width: 1024px) {
  .services__item-title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  .services__item-title {
    font-size: 18px;
    margin-bottom: 12px;
  }
}

.services__item-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  grid-area: text;
}

@media screen and (max-width: 425px) {
  .services__item-text {
    font-size: 15px;
  }
}

.sphere {
  padding: 0 39px;
}

@media screen and (max-width: 425px) {
  .sphere {
    padding: 0 15px;
  }
}

.sphere__title {
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .sphere__title {
    font-size: 44px;
  }
}

@media screen and (max-width: 425px) {
  .sphere__title {
    font-size: 28px;
    margin-bottom: 32px;
  }
}

.sphere__text {
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
  margin: 0 0 40px;
  max-width: 667px;
}

@media screen and (max-width: 425px) {
  .sphere__text {
    display: none;
  }
}

.sphere__content {
  display: flex;
  justify-content: flex-start;
  gap: 140px;
}

@media screen and (max-width: 1024px) {
  .sphere__content {
    gap: 40px;
  }
}

.sphere__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sphere__radio {
  position: absolute;
  z-index: -100;
  opacity: 0;
}

.sphere__label {
  max-width: 687px;
  display: block;
  padding: 40px 125px 48px 96px;
  box-sizing: border-box;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background: linear-gradient(160deg, #FFFFFF 85%, #E9E9EC 85.1%);
  position: relative;
  cursor: pointer;
}

.sphere__label:hover {
  outline: 1px solid #0B7572;
}

@media screen and (max-width: 1024px) {
  .sphere__label {
    padding-right: 48px;
  }
}

@media screen and (max-width: 425px) {
  .sphere__label {
    padding: 24px 17px 32px 56px;
    background: none;
  }
}

.sphere__label::before {
  content: "";
  display: block;
  position: absolute;
  top: 48px;
  left: 40px;
  width: 24px;
  height: 24px;
  border: 1px solid #CBCBCD;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .sphere__label::before {
    top: 28px;
    left: 16px;
  }
}

.sphere__label::after {
  content: "";
  display: none;
  position: absolute;
  top: 55px;
  left: 47px;
  width: 10px;
  height: 10px;
  background-color: #0B7572;
  border-radius: 50%;
}

@media screen and (max-width: 425px) {
  .sphere__label::after {
    top: 35px;
    left: 23px;
  }
}

.sphere__radio:checked+.sphere__label::after {
  display: block;
}

.sphere__radio-title {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #363738;
  margin: 0 0 24px;
}

.sphere__radio-text {
  margin: 0;
}

.sphere__voted {
  align-self: flex-start;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .sphere__voted {
    display: none;
  }
}

.sphere__voted-title {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #363738;
  margin: 0;
}

.sphere__voted-number {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 150%;
  color: #363738;
  margin: 0;
  position: relative;
}

.sphere__voted-number::after {
  position: absolute;
  left: 0;
  bottom: -21px;
  content: "";
  border: 3px solid #FFCE50;
  height: 0;
  width: 100%;
}

.sphere__voted-users {
  font-size: 20px;
  color: #6B6B6C;
}

.why-us {
  padding: 100px 0 120px;
}

@media screen and (max-width: 768px) {
  .why-us {
    padding: 88px 0 100px;
  }
}

@media screen and (max-width: 425px) {
  .why-us {
    padding: 64px 0 72px;
  }
}

.why-us__title-container {
  min-height: 453px;
  display: flex;
  align-items: center;
  background: linear-gradient(50deg, #0B7572 40%, transparent 40.1%),
    linear-gradient(50deg, rgba(11, 117, 114, 0.3) 50%, transparent 50.1%);
  position: relative;
}

@media screen and (max-width: 1282px) {
  .why-us__title-container {
    min-height: 383px;
  }
}

@media screen and (max-width: 1024px) {
  .why-us__title-container {
    background: linear-gradient(50deg, #0B7572 60%, transparent 60.1%),
      linear-gradient(50deg, rgba(11, 117, 114, 0.3) 70%, transparent 70.1%);
  }
}

@media screen and (max-width: 425px) {
  .why-us__title-container {
    background: none;
    min-height: 0;
  }
}

.why-us__title-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(./images/why-us-bg.png);
  z-index: -5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100px 50%;
}

@media screen and (max-width: 425px) {
  .why-us__title-container::before {
    display: none;
  }
}

.why-us__title-container::after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100vw;
  transform: translateX(-100%);
  background-color: #0B7572;
  z-index: -100;
}

@media screen and (max-width: 425px) {
  .why-us__title-container::after {
    display: none;
  }
}

.why-us__title {
  margin: 0;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #FFFFFF;
  max-width: 362px;
}

@media screen and (max-width: 1282px) {
  .why-us__title {
    padding-left: 39px;
  }
}

@media screen and (max-width: 425px) {
  .why-us__title {
    color: #363738;
    font-size: 28px;
    line-height: 125%;
  }
}


.why-us__items {
  padding: 0 39px;
}

.why-us__item {}

.why-us__item-image {}

.why-us__item-title {}

.why-us__item-text {}